@font-face {
    font-family: DMSans;
    src: url(./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: DMSans;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}

header > div > a {
    color: black;
    text-decoration: none;
}

.links > a {
    margin: 10px;
}

.content {
    background: #161626;
    color: white;
    display: flex;
    padding: 50px;
    padding: 50px 20% 50px 20%;
    gap: 100px;
}

.content > div {
    width: 100%;
}

img {
    height: 100%;
    width: 100%;
}